<h1>Edit User</h1>

<!-- <form action="/users" method="patch" accept-charset="UTF-8" data-turbo=false>
  <p>
    <label for="user[username]">Username:</label>
    <input type="text" id="name" name="user[username]">
  </p>

  <p>
    <label for="user[email]">Email:</label>
    <input type="email" id="mail" name="user[email]">
  </p>

  <p>
    <label for="user[password]">Password:</label>
    <input type="password" id="pwd" name="user[password]">
  </p>

  <input
type="hidden"
name="authenticity_token"
value="<%# form_authenticity_token %>"
>

  <button>Submit</button>
</form> -->


<%# form_tag("/users", method: "patch") do %>
  <%# label_tag(:username, "Username:") %>
  <%# text_field_tag(:username) %>
  <%# label_tag(:email, "Email:") %>
  <%# text_field_tag(:email) %>
  <%# label_tag(:password, "Password:") %>
  <%# text_field_tag(:password) %>
  <%# submit_tag("Submit") %>
<%# end %>

<%= render "form", user: @user%>